<h1> Give us an Anagram!</h1>
<form action="/anagram">
  <div class="form-group">
    <label for="anagram">What words do you want to compare.</label>
    <input id="anagram" name="anagram" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="comparison2">What words do you want to compare.</label>
    <input id="comparison2" name="comparison2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="comparison3">What words do you want to compare.</label>
    <input id="comparison3" name="comparison3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
