<h1> Give us an Anagram!</h1>
<form action="/anagram">
  <div class="form-group">
    <label for="anagram">What words do you want to compare.</label>
    <input id="anagram" name="anagram" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word2">What words do you want to compare.</label>
    <input id="word2" name="word2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word3">What words do you want to compare.</label>
    <input id="word3" name="word3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
